HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

src/main/resources/application.properties

# --- Python & Machine Learning ---
**/__pycache__/
*.pyc
venv/

# 무적의 와일드카드: 프로젝트 안의 '어디에 있든' 아래 확장자는 전부 무시!
**/*.pkl
**/*.joblib
**/*.h5

.DS_Store